# === НАСТРОЙКИ САЙТА И ПРОКСИ ===
APP_DOMAIN=localhost
# http на локалке, https на проде
APP_SCHEME=http

# === LARAVEL (BACKEND) ===
# Сгенерировать: php artisan key:generate --show
APP_KEY=

# === ПОДКЛЮЧЕНИЕ К НОВОЙ PostgreSQL ===
PG_USER=db_user
PG_PASSWORD=db_pass
PG_DB=db_name