# === НАСТРОЙКИ САЙТА И ПРОКСИ ===
APP_DOMAIN=localhost

# === ПОДКЛЮЧЕНИЕ К СТАРОЙ MySQL (OPENSERVER) ===
DB_HOST=db_host
DB_USER=db_user
DB_PASS=db_pass
DB_NAME=db_name
DB_BASE=/
DB_IS_HTTPS=false

# === ПОДКЛЮЧЕНИЕ К НОВОЙ PostgreSQL ===
PG_USER=db_user
PG_PASSWORD=db_pass
PG_DB=db_name

# === СЕКРЕТНЫЕ КЛЮЧИ И ИНТЕГРАЦИИ ===
TELEGRAM_CHATS=-000000000
TELEGRAM_API=bot_token_here
RECAPTCHA_SECRET=secret_key_here
RECAPTCHA_SITEKEY=sitekey_here